
*{
  list-style: none !important;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0 !important;
  text-decoration: none !important;
  font-family: "Dosis";
  scroll-behavior: smooth;
}
:root{
  --transparent-bg : rgba(0,0,0, 0.3);
}
::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}
/* home */
.homeBannerContainer h2{
  position:absolute;
  font-weight:700; 
  background:white;
  color:rgb(203,4,115);
  width:max-content !important;
  min-width: 130px !important;
  border: 4px double rgb(203,4,115);
  padding: 3px 0;
  box-shadow:  0 0 0 4px white;
  text-align: center !important;
  display: grid;
  left: calc( 50% - 65px); 
  bottom: -4%;
  z-index: 1;
}
@media only screen and (min-width: 992px) {
.homeBannerContainer h2{
  bottom: -9%;
  

}
}